.custom-align-left {
    text-align: left;
}

.custom-align-right {
    text-align: right;
}

.form-group input {
    border: 2px solid;
}

#id_img1 {
    border: 0px !important;
}

#id_img2 {
    border: 0px !important;
}

#id_img3 {
    border: 0px !important;
}

i.fa-solid.fa-circle-check {
    color: green !important;
    display: none;
}

i.fa-solid.fa-circle-exclamation {
    color: #e74c3c !important;
    display: none;
}

input.error {
    border-color: red !important;
}

input.success {
    border-color: green !important;
}

.form-group label {
    padding-right: 0px !important;
    text-align: right !important;
}

.form-group i {
    float: left !important;
}

textarea.error {
    border-color: red !important;
}

textarea.success {
    border-color: green !important;
}

.form-group textarea {
    border: 2px solid;
}