{% extends 'RestaurantRaterApp/base.html' %}
{% load static %}

{% block title_block %}
	Add Review
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script defer src="{% static 'js/signup.js' %}"></script>

    <form id="form" method="post" action="{% url 'RestaurantRaterApp:review' restaurant_id=restaurant %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'RestaurantRaterApp/form_col.html' with form=form %}
        <div class="form-group d-grid gap-2 d-md-flex justify-content-md-around mt-4">
            <input type="submit" class="btn btn-warning" name="Leave Review" value="Leave Review" />
        </div>
        <div class="form-group d-grid gap-2 d-md-flex justify-content-md-around mt-5">
            or
        </div>
        <div class="form-group d-grid gap-2 d-md-flex justify-content-md-around mt-5">
            Change your mind?
        </div>
        <div class="form-group d-grid gap-2 d-md-flex justify-content-md-around mt-4">
            <input type="button" class="btn btn-warning" value="Cancel Review" onclick=history.back()></input>
        </div>
    </form>
{% endblock %}