{% extends 'RestaurantRaterApp/base.html' %}
{% load static %}
{% load restaurant_rater_tags %}

{% block title_block %}
	Add your restaurant
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script defer src="{% static 'js/add_rest.js' %}"></script>
    {% if invalid_name %}
        <small id="invalid_name" style="display:none">Restaurant already exists.</small>
    {% else %}
        <small id="invalid_name" style="display:none">Restaurant does not exist.</small>
    {% endif %}

    <small id="invalid_address" style="display:none">{{ invalid_address }}</small>

    <form id="restaurant_form" method="post" action="{% url 'RestaurantRaterApp:add_restaurant' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% include 'RestaurantRaterApp/form_col.html' with form=form.visible_fields %}
        <div class="form-group d-grid gap-2 d-md-flex justify-content-md-around mt-4">
            <input type="submit" class="btn btn-warning" name="submit" value="Add Restaurant" id="id_submit" />
        </div>
    </form>
{% endblock %}