{% load static %}
{% load restaurant_rater_tags %}

<!-- show favourites status if logged in -->
{% if user.is_authenticated %}
    {% if restaurant in favs %}
        <img src="{% static 'images/heart_fill.svg' %}" class="h-75 mx-auto d-block" alt="Filled heart"/>
    {% else %}
        <img src="{% static 'images/heart.svg' %}" class="h-75" alt="Unfilled heart"/>
    {% endif %}
{% else %}
    <img src="{% static 'images/arrow_bullet.svg' %}" class="h-75" alt="Arrow bullet point"/>
{% endif %}