{% extends 'RestaurantRaterApp/base.html' %}
{% load static %}
{% load restaurant_rater_tags %}

{% block title_block %}
	Change Password
{% endblock %}

{% block body_block %}
        <div class="row p-3 text-center nospace">
            <form id="PasswordChangeForm" method="post" action="{% url 'RestaurantRaterApp:change_password' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if invalid %}
                    <h5 class="text-center p-2 mt-2">Invalid input, please try again.</h5>
                {% endif %}
                {% include 'RestaurantRaterApp/form_inner.html' with f1=password_form submit_text="Update Password" %}
            </form>
        </div>
{% endblock %}