{% extends 'RestaurantRaterApp/base.html' %}
{% load static %}
{% load restaurant_rater_tags %}

{% block title_block %}
	Edit Profile
{% endblock %}

{% block body_block %}
        <div class="row p-3 text-center nospace">
            {% if invalid %}
                    <h5>Username already exists, please try again.</h5>
            {% endif %}
            <form id="edit_form" method="post" action="{% url 'RestaurantRaterApp:edit_profile' %}" enctype="multipart/form-data">
                {% include 'RestaurantRaterApp/form_inner.html' with f1=edit_user_form f2=edit_signup_form submit_text="Update" %}
            </form>
        </div>
{% endblock %}