{% extends 'RestaurantRaterApp/base.html' %}
{% load static %}
{% load restaurant_rater_tags %}

{% block title_block %}
	Edit Profile
{% endblock %}

{% block body_block %}
        <script defer src="{% static 'js/editprofile.js' %}"></script>
        {% if updated %}
            <div class="p-3 text-center">
                <h5>You have successfully created your account!</h5>
            </div>
            <div class="d-grid gap-5 d-md-flex justify-content-md-center align-items-center">
                <a class="btn btn-warning" href="{% url 'RestaurantRaterApp:login' %}" role="button">Log in to your account</a>
            </div>
	    {% else %}
            <div class="row p-3 text-center nospace">
                {% if invalid_username %}
                    <small id="invalid_username" style="display:none">Username already exists.</small>
                {% else %}
                    <small id="invalid_username" style="display:none">Username does not exist.</small>
                {% endif %}

            <small id="invalid_address" style="display:none">{{ invalid_address }}</small>

        <div class="row p-3 text-center nospace">
            <form id="edit_form" method="post" action="{% url 'RestaurantRaterApp:edit_profile' %}" enctype="multipart/form-data">
                {% include 'RestaurantRaterApp/form_inner.html' with f1=edit_user_form f2=edit_signup_form submit_text="Update" %}
            </form>
        </div>
            </div>
            <script src="https://kit.fontawesome.com/368c407229.js" crossorigin="anonymous"></script>
        {% endif %}
{% endblock %}