{% extends 'RestaurantRaterApp/base.html' %}
{% load static %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
        <script defer src="{% static 'js/login.js' %}"></script>
        {% if invalid %}
            <small id="invalid_account" style="display:none">Invalid account</small>
        {% else %}
            <small id="invalid_account" style="display:none">Correct account</small>
        {% endif %}
        <form id="login_form" method="post" action="{% url 'RestaurantRaterApp:login' %}">
            {% csrf_token %}
            {% include 'RestaurantRaterApp/login_row.html' with text="Username:" field="username" type="text" invalid=invalid %}
            {% include 'RestaurantRaterApp/login_row.html' with text="Password:" field="password" type="password" invalid=invalid %}
            <div class="form-group row d-flex justify-content-center align-items-center flex-column mt-3">
                <input type="submit" class="btn btn-warning w-25 border-dark border-2" name="submit" value="Log In" id="id_submit"/>
            </div>
        </form>
{% endblock %}