{% extends 'RestaurantRaterApp/base.html' %}
{% load static %}
{% load restaurant_rater_tags %}

{% block title_block %}
	My Profile
{% endblock %}

{% block profile_button %}
	<a class="nav-link active bg-info text-body border-0" aria-current="page" href="{% url 'RestaurantRaterApp:profile' %}">Profile</a>
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <div class="col-md-4 p-3 h-100">

            Info space

        </div>
        <div class="col-md-4 p-3 h-100">
            <div class="overflow-auto" style="max-height:650px">

                <!--- table of users restaurants --->
                <div class="row mw-100 p-0 m-0" >
                    {% if restaurants_list %}
                        <table class="table table-secondary table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">My Restaurants</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for restaurant in restaurants_list %}
                                    <!-- alternate cyan and yellow rows -->
                                    <tr class="{% get_row_colour forloop.counter %}">
                                        <td>
                                            <a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body">
                                                {% include 'RestaurantRaterApp/arrow_or_heart.html' with restaurant=restaurant favs=favourites %}
                                            </a>
                                        </td>
                                        <td><a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body">{{ restaurant.name }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <strong>You don't currently own any restaurants in our records!</strong><br />
                    {% endif %}
                </div>

            </div>
            <div style="max-height:100px">

                <!--- add restaurant button --->
                <div class="d-grid gap-2 d-md-flex justify-content-md-around mt-4">
                    <a class="btn btn-warning" href="{% url 'RestaurantRaterApp:add_restaurant' %}" role="button">Add your restaurant</a>
                </div>

            </div>
        </div>
        <div class="col-md-4 p-3 h-100">
            <div class="overflow-auto mh-100">

                <!--- table of users reviews --->
                <div class="row mw-100 nospace" >
                    {% if comments %}
                        <table class="table table-secondary table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Reviews</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for commenter, review in comments.items %}
                                    <!-- alternate cyan and yellow rows -->
                                    <tr class="{% get_row_colour forloop.counter %}">
                                        <td>{{ commenter }}</td>
                                        <td>{{ review }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <strong>You haven't commented on any restaurants yet!</strong><br />
                    {% endif %}
                </div>

            </div>
        </div>
	{% else %}
		Sorry, no user recognised
	{% endif %}
{% endblock %}