{% extends 'RestaurantRaterApp/base.html' %}
{% load static %}

{% block title_block %}
	Sign Up
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script defer src="{% static 'js/signup.js' %}"></script>
	{% if registered %}
        <div class="p-3 text-center">
            <h5>You have successfully created your account!</h5>
        </div>
        <div class="d-grid gap-5 d-md-flex justify-content-md-center align-items-center">
            <a class="btn btn-warning" href="{% url 'RestaurantRaterApp:login' %}" role="button">Log in to your account</a>
        </div>
	{% else %}
        <div class="row p-3 text-center nospace">
            {% if invalid %}
                    <h5>Username already exists, please try again.</h5>
            {% endif %}
            <form id="user_form" method="post" action="{% url 'RestaurantRaterApp:signup' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'RestaurantRaterApp/form_col.html' with form=user_form %}
                {% include 'RestaurantRaterApp/form_col.html' with form=signup_form %}
                <div class="form-group d-grid gap-2 d-md-flex justify-content-md-around mt-4">
                    <input type="submit" class="btn btn-warning" name="submit" value="Register" id="id_submit" />
                </div>
            </form>
        </div>
	{% endif %}
{% endblock %}