{% load static %}
{% load restaurant_rater_tags %}

<div>
    {% if restaurants_list %}
        <table  class="table table-secondary table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in r_list %}

                    <!-- alternate cyan and yellow rows -->
                    {% if forloop.counter|modulo:2 == 0 %}
                        <tr class="table-info">
                    {% else %}
                        <tr class="table-warning">
                    {% endif %}

                    <!-- show favourites status if logged in -->
                    <td>{% include 'RestaurantRaterApp/arrow_or_heart.html' with restaurant=restaurant %}</td>

                    <td><a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body">{{ restaurant.name }}</a></td>
                    <td><a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body">{{ restaurant.description }}</a></td>

                    <!-- generate star rating graphic from decimal number -->
                    <td>
                        <a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body">
                            {% include 'RestaurantRaterApp/stars.html' with rating=restaurant.rating %}
                        </a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <strong>Our records currently don't contain any restaurants!</strong><br />
    {% endif %}
</div>
