{% load static %}
{% load restaurant_rater_tags %}

<div class="overflow-auto my-3 p-0 mh-100">
    {% if restaurants_list %}
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    {% if user.is_authenticated %}
                        <th scope="col">Distance</th>
                    {% endif %}
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in r_list %}

                    <!-- alternate cyan and yellow rows -->
                    <tr class="{% get_row_colour forloop.counter %}">

                    <!-- show favourites status if logged in -->
                    <td>
                        <a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body">
                            {% include 'RestaurantRaterApp/arrow_or_heart.html' with restaurant=restaurant favs=favs %}
                        </a>
                    </td>

                    <td><a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body text-break">{{ restaurant.name }}</a></td>
                    <td><a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body text-break">{{ restaurant.description }}</a></td>
                    {% if user.is_authenticated %}
                        <td><a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body">{{ dists|get_value:restaurant.restaurant_id }}km</a></td>
                    {% endif %}

                    <!-- generate star rating graphic from decimal number -->
                    <td>
                        <a href="{% url 'RestaurantRaterApp:show_restaurant' restaurant.restaurant_id %}" class="text-decoration-none text-body">
                            {% include 'RestaurantRaterApp/stars.html' with rating=restaurant.rating %}
                        </a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h5>Our records currently don't contain any restaurants.</h5>
    {% endif %}
</div>
